In [448]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [568]:
data2015 = pd.read_csv('2015.csv', encoding='ISO-8859-1')

In [570]:
data2016 = pd.read_csv('2016.csv', encoding='ISO-8859-1')

In [572]:
data2017 = pd.read_csv('2017.csv', encoding='ISO-8859-1')

In [574]:
data2018 = pd.read_csv('2018.csv', encoding='ISO-8859-1')

In [576]:
data2019 = pd.read_csv('2019.csv', encoding='ISO-8859-1')

In [578]:
data2020 = pd.read_csv('2020.csv', encoding='ISO-8859-1')

In [580]:
data2021 = pd.read_csv('2021.csv', encoding='ISO-8859-1')

In [582]:
data2022 = pd.read_csv('2022.csv', encoding='ISO-8859-1')

In [584]:
data2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [586]:
data2021.columns

Index(['ï»¿Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [588]:
data2022.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption'],
      dtype='object')

In [590]:
data2021.describe()

,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,1.490000e+02,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.532839,0.058752,5.648007,5.417631,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450,2.430000e+00,0.977161,0.793315,0.520161,0.498711,0.178047,0.135141,2.430329
std,1.073924,0.022001,1.054330,1.094879,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226,5.347044e-15,0.404740,0.258871,0.213019,0.137888,0.098270,0.114361,0.537645
min,2.523000,0.026000,2.596000,2.449000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000,2.430000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.648000
25%,4.852000,0.043000,4.991000,4.706000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000,2.430000e+00,0.666000,0.647000,0.357000,0.409000,0.105000,0.060000,2.138000
50%,5.534000,0.054000,5.625000,5.413000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000,2.430000e+00,1.025000,0.832000,0.571000,0.514000,0.164000,0.101000,2.509000
75%,6.255000,0.070000,6.344000,6.128000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000,2.430000e+00,1.323000,0.996000,0.665000,0.603000,0.239000,0.174000,2.794000
max,7.842000,0.173000,7.904000,7.780000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000,2.430000e+00,1.751000,1.172000,0.897000,0.716000,0.541000,0.547000,3.482000

In [592]:
data2021.describe(include="object")

       ï»¿Country name  Regional indicator
count              149                 149
unique             149                  10
top            Finland  Sub-Saharan Africa
freq                 1                  36

In [594]:
data2022.describe()

             RANK
count  147.000000
mean    74.000000
std     42.579338
min      1.000000
25%     37.500000
50%     74.000000
75%    110.500000
max    147.000000

In [596]:
data2022.describe(include="object")

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
count,147,146,146,146,146,146,146,146,146,146,146
unique,147,141,144,141,138,141,133,134,128,116,116
top,Finland,"4,516","6,535","5,659","1,895","1,815","0,865","0,803","0,448","0,089","0,077"
freq,1,2,2,2,2,3,3,2,3,4,4

In [598]:
data2021.nunique()

ï»¿Country name                               149
Regional indicator                             10
Ladder score                                  147
Standard error of ladder score                 65
upperwhisker                                  146
lowerwhisker                                  143
Logged GDP per capita                         148
Social support                                119
Healthy life expectancy                       135
Freedom to make life choices                  126
Generosity                                    130
Perceptions of corruption                     130
Ladder score in Dystopia                        1
Explained by: Log GDP per capita              138
Explained by: Social support                  135
Explained by: Healthy life expectancy         119
Explained by: Freedom to make life choices    130
Explained by: Generosity                      119
Explained by: Perceptions of corruption       117
Dystopia + residual                           142
dtype: int64

In [600]:
data2022.nunique()

RANK                                          147
Country                                       147
Happiness score                               141
Whisker-high                                  144
Whisker-low                                   141
Dystopia (1.83) + residual                    138
Explained by: GDP per capita                  141
Explained by: Social support                  133
Explained by: Healthy life expectancy         134
Explained by: Freedom to make life choices    128
Explained by: Generosity                      116
Explained by: Perceptions of corruption       116
dtype: int64

In [602]:
data2021.isna().any()
# we don´t have missing values

ï»¿Country name                               False
Regional indicator                            False
Ladder score                                  False
Standard error of ladder score                False
upperwhisker                                  False
lowerwhisker                                  False
Logged GDP per capita                         False
Social support                                False
Healthy life expectancy                       False
Freedom to make life choices                  False
Generosity                                    False
Perceptions of corruption                     False
Ladder score in Dystopia                      False
Explained by: Log GDP per capita              False
Explained by: Social support                  False
Explained by: Healthy life expectancy         False
Explained by: Freedom to make life choices    False
Explained by: Generosity                      False
Explained by: Perceptions of corruption       False
Dystopia + residual                           False
dtype: bool

In [604]:
data2022.isna().any()
# We have missing values in 10 columns

RANK                                          False
Country                                       False
Happiness score                                True
Whisker-high                                   True
Whisker-low                                    True
Dystopia (1.83) + residual                     True
Explained by: GDP per capita                   True
Explained by: Social support                   True
Explained by: Healthy life expectancy          True
Explained by: Freedom to make life choices     True
Explained by: Generosity                       True
Explained by: Perceptions of corruption        True
dtype: bool

In [606]:
data2022.isna().sum(axis=0)
# We have only 1 missing value in 10 columns

RANK                                          0
Country                                       0
Happiness score                               1
Whisker-high                                  1
Whisker-low                                   1
Dystopia (1.83) + residual                    1
Explained by: GDP per capita                  1
Explained by: Social support                  1
Explained by: Healthy life expectancy         1
Explained by: Freedom to make life choices    1
Explained by: Generosity                      1
Explained by: Perceptions of corruption       1
dtype: int64

In [608]:
data2021.columns

Index(['ï»¿Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [610]:
data2021.columns= [
    "country", "rank", "happiness", "std", "high", "low", "GDP", "social_support", 
    "healthy", "freedom", "generosity", "corruption", "dystopia", "exp_GDP", "exp_social",
    "exp_healthy", "exp_freedom", "exp_generosity", "exp_corruption", "dystopia_residual"
]

In [612]:
data2021.columns

Index(['country', 'rank', 'happiness', 'std', 'high', 'low', 'GDP',
       'social_support', 'healthy', 'freedom', 'generosity', 'corruption',
       'dystopia', 'exp_GDP', 'exp_social', 'exp_healthy', 'exp_freedom',
       'exp_generosity', 'exp_corruption', 'dystopia_residual'],
      dtype='object')

In [614]:
data2022.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption'],
      dtype='object')

In [616]:
data2022.columns= [
    "rank","country", "happiness", "high", "low", "dystopia_residual", "exp_GDP", "exp_social",
    "exp_healthy", "exp_freedom", "exp_generosity", "exp_corruption", 
]

In [618]:
data2022.columns

Index(['rank', 'country', 'happiness', 'high', 'low', 'dystopia_residual',
       'exp_GDP', 'exp_social', 'exp_healthy', 'exp_freedom', 'exp_generosity',
       'exp_corruption'],
      dtype='object')

In [620]:
data2021.columns

Index(['country', 'rank', 'happiness', 'std', 'high', 'low', 'GDP',
       'social_support', 'healthy', 'freedom', 'generosity', 'corruption',
       'dystopia', 'exp_GDP', 'exp_social', 'exp_healthy', 'exp_freedom',
       'exp_generosity', 'exp_corruption', 'dystopia_residual'],
      dtype='object')

In [622]:
# Change the second column to be the first
columns = data2021.columns.tolist()
columns = [columns[1]] + [columns[0]] + columns[2:]

# Reorder DataFrame with new column order
data2021 = data2021[columns]
data2021.columns

Index(['rank', 'country', 'happiness', 'std', 'high', 'low', 'GDP',
       'social_support', 'healthy', 'freedom', 'generosity', 'corruption',
       'dystopia', 'exp_GDP', 'exp_social', 'exp_healthy', 'exp_freedom',
       'exp_generosity', 'exp_corruption', 'dystopia_residual'],
      dtype='object')

In [624]:
data2021= data2021[["rank", "country", "happiness", "exp_GDP", "exp_social", "exp_healthy", "exp_freedom",
                   "exp_generosity", "exp_corruption", "dystopia_residual", "std", "high", "low", "GDP", "social_support",
                   "healthy", "freedom", "generosity", "corruption", "dystopia",]]

In [626]:
data2021.columns

Index(['rank', 'country', 'happiness', 'exp_GDP', 'exp_social', 'exp_healthy',
       'exp_freedom', 'exp_generosity', 'exp_corruption', 'dystopia_residual',
       'std', 'high', 'low', 'GDP', 'social_support', 'healthy', 'freedom',
       'generosity', 'corruption', 'dystopia'],
      dtype='object')

In [628]:
data2022.columns

Index(['rank', 'country', 'happiness', 'high', 'low', 'dystopia_residual',
       'exp_GDP', 'exp_social', 'exp_healthy', 'exp_freedom', 'exp_generosity',
       'exp_corruption'],
      dtype='object')

In [630]:
data2022= data2022[['rank', 'country', 'happiness', 'exp_GDP', 'exp_social', 'exp_healthy', 'exp_freedom', 'exp_generosity'
                    ,'exp_corruption', 'dystopia_residual','high', 'low',  
                   ]]

In [632]:
data2022.columns

Index(['rank', 'country', 'happiness', 'exp_GDP', 'exp_social', 'exp_healthy',
       'exp_freedom', 'exp_generosity', 'exp_corruption', 'dystopia_residual',
       'high', 'low'],
      dtype='object')

In [634]:
data2021 = data2021.drop(columns=['std', 'high', 'low', 'GDP', 'social_support', 'healthy', 'freedom',
       'generosity', 'corruption', 'dystopia'])

In [636]:
data2021.columns

Index(['rank', 'country', 'happiness', 'exp_GDP', 'exp_social', 'exp_healthy',
       'exp_freedom', 'exp_generosity', 'exp_corruption', 'dystopia_residual'],
      dtype='object')

In [638]:
data2022 = data2022.drop(columns=['high', 'low'])
data2022.columns

Index(['rank', 'country', 'happiness', 'exp_GDP', 'exp_social', 'exp_healthy',
       'exp_freedom', 'exp_generosity', 'exp_corruption', 'dystopia_residual'],
      dtype='object')

In [640]:
data2021.country.unique()

array(['Finland', 'Denmark', 'Switzerland', 'Iceland', 'Netherlands',
       'Norway', 'Sweden', 'Luxembourg', 'New Zealand', 'Austria',
       'Australia', 'Israel', 'Germany', 'Canada', 'Ireland',
       'Costa Rica', 'United Kingdom', 'Czech Republic', 'United States',
       'Belgium', 'France', 'Bahrain', 'Malta',
       'Taiwan Province of China', 'United Arab Emirates', 'Saudi Arabia',
       'Spain', 'Italy', 'Slovenia', 'Guatemala', 'Uruguay', 'Singapore',
       'Kosovo', 'Slovakia', 'Brazil', 'Mexico', 'Jamaica', 'Lithuania',
       'Cyprus', 'Estonia', 'Panama', 'Uzbekistan', 'Chile', 'Poland',
       'Kazakhstan', 'Romania', 'Kuwait', 'Serbia', 'El Salvador',
       'Mauritius', 'Latvia', 'Colombia', 'Hungary', 'Thailand',
       'Nicaragua', 'Japan', 'Argentina', 'Portugal', 'Honduras',
       'Croatia', 'Philippines', 'South Korea', 'Peru',
       'Bosnia and Herzegovina', 'Moldova', 'Ecuador', 'Kyrgyzstan',
       'Greece', 'Bolivia', 'Mongolia', 'Paraguay', 'Montenegro',
       'Dominican Republic', 'North Cyprus', 'Belarus', 'Russia',
       'Hong Kong S.A.R. of China', 'Tajikistan', 'Vietnam', 'Libya',
       'Malaysia', 'Indonesia', 'Congo (Brazzaville)', 'China',
       'Ivory Coast', 'Armenia', 'Nepal', 'Bulgaria', 'Maldives',
       'Azerbaijan', 'Cameroon', 'Senegal', 'Albania', 'North Macedonia',
       'Ghana', 'Niger', 'Turkmenistan', 'Gambia', 'Benin', 'Laos',
       'Bangladesh', 'Guinea', 'South Africa', 'Turkey', 'Pakistan',
       'Morocco', 'Venezuela', 'Georgia', 'Algeria', 'Ukraine', 'Iraq',
       'Gabon', 'Burkina Faso', 'Cambodia', 'Mozambique', 'Nigeria',
       'Mali', 'Iran', 'Uganda', 'Liberia', 'Kenya', 'Tunisia', 'Lebanon',
       'Namibia', 'Palestinian Territories', 'Myanmar', 'Jordan', 'Chad',
       'Sri Lanka', 'Swaziland', 'Comoros', 'Egypt', 'Ethiopia',
       'Mauritania', 'Madagascar', 'Togo', 'Zambia', 'Sierra Leone',
       'India', 'Burundi', 'Yemen', 'Tanzania', 'Haiti', 'Malawi',
       'Lesotho', 'Botswana', 'Rwanda', 'Zimbabwe', 'Afghanistan'],
      dtype=object)

In [642]:
data2022.country.unique()

array(['Finland', 'Denmark', 'Iceland', 'Switzerland', 'Netherlands',
       'Luxembourg*', 'Sweden', 'Norway', 'Israel', 'New Zealand',
       'Austria', 'Australia', 'Ireland', 'Germany', 'Canada',
       'United States', 'United Kingdom', 'Czechia', 'Belgium', 'France',
       'Bahrain', 'Slovenia', 'Costa Rica', 'United Arab Emirates',
       'Saudi Arabia', 'Taiwan Province of China', 'Singapore', 'Romania',
       'Spain', 'Uruguay', 'Italy', 'Kosovo', 'Malta', 'Lithuania',
       'Slovakia', 'Estonia', 'Panama', 'Brazil', 'Guatemala*',
       'Kazakhstan', 'Cyprus', 'Latvia', 'Serbia', 'Chile', 'Nicaragua',
       'Mexico', 'Croatia', 'Poland', 'El Salvador', 'Kuwait*', 'Hungary',
       'Mauritius', 'Uzbekistan', 'Japan', 'Honduras', 'Portugal',
       'Argentina', 'Greece', 'South Korea', 'Philippines', 'Thailand',
       'Moldova', 'Jamaica', 'Kyrgyzstan', 'Belarus*', 'Colombia',
       'Bosnia and Herzegovina', 'Mongolia', 'Dominican Republic',
       'Malaysia', 'Bolivia', 'China', 'Paraguay', 'Peru', 'Montenegro',
       'Ecuador', 'Vietnam', 'Turkmenistan*', 'North Cyprus*', 'Russia',
       'Hong Kong S.A.R. of China', 'Armenia', 'Tajikistan', 'Nepal',
       'Bulgaria', 'Libya*', 'Indonesia', 'Ivory Coast',
       'North Macedonia', 'Albania', 'South Africa', 'Azerbaijan*',
       'Gambia*', 'Bangladesh', 'Laos', 'Algeria', 'Liberia*', 'Ukraine',
       'Congo', 'Morocco', 'Mozambique', 'Cameroon', 'Senegal', 'Niger*',
       'Georgia', 'Gabon', 'Iraq', 'Venezuela', 'Guinea', 'Iran', 'Ghana',
       'Turkey', 'Burkina Faso', 'Cambodia', 'Benin', 'Comoros*',
       'Uganda', 'Nigeria', 'Kenya', 'Tunisia', 'Pakistan',
       'Palestinian Territories*', 'Mali', 'Namibia',
       'Eswatini, Kingdom of*', 'Myanmar', 'Sri Lanka', 'Madagascar*',
       'Egypt', 'Chad*', 'Ethiopia', 'Yemen*', 'Mauritania*', 'Jordan',
       'Togo', 'India', 'Zambia', 'Malawi', 'Tanzania', 'Sierra Leone',
       'Lesotho*', 'Botswana*', 'Rwanda*', 'Zimbabwe', 'Lebanon',
       'Afghanistan', 'xx'], dtype=object)

In [644]:
data2022['country'] = data2022['country'].str.replace('*', '', regex=False)

In [646]:
data2022.country.unique()

array(['Finland', 'Denmark', 'Iceland', 'Switzerland', 'Netherlands',
       'Luxembourg', 'Sweden', 'Norway', 'Israel', 'New Zealand',
       'Austria', 'Australia', 'Ireland', 'Germany', 'Canada',
       'United States', 'United Kingdom', 'Czechia', 'Belgium', 'France',
       'Bahrain', 'Slovenia', 'Costa Rica', 'United Arab Emirates',
       'Saudi Arabia', 'Taiwan Province of China', 'Singapore', 'Romania',
       'Spain', 'Uruguay', 'Italy', 'Kosovo', 'Malta', 'Lithuania',
       'Slovakia', 'Estonia', 'Panama', 'Brazil', 'Guatemala',
       'Kazakhstan', 'Cyprus', 'Latvia', 'Serbia', 'Chile', 'Nicaragua',
       'Mexico', 'Croatia', 'Poland', 'El Salvador', 'Kuwait', 'Hungary',
       'Mauritius', 'Uzbekistan', 'Japan', 'Honduras', 'Portugal',
       'Argentina', 'Greece', 'South Korea', 'Philippines', 'Thailand',
       'Moldova', 'Jamaica', 'Kyrgyzstan', 'Belarus', 'Colombia',
       'Bosnia and Herzegovina', 'Mongolia', 'Dominican Republic',
       'Malaysia', 'Bolivia', 'China', 'Paraguay', 'Peru', 'Montenegro',
       'Ecuador', 'Vietnam', 'Turkmenistan', 'North Cyprus', 'Russia',
       'Hong Kong S.A.R. of China', 'Armenia', 'Tajikistan', 'Nepal',
       'Bulgaria', 'Libya', 'Indonesia', 'Ivory Coast', 'North Macedonia',
       'Albania', 'South Africa', 'Azerbaijan', 'Gambia', 'Bangladesh',
       'Laos', 'Algeria', 'Liberia', 'Ukraine', 'Congo', 'Morocco',
       'Mozambique', 'Cameroon', 'Senegal', 'Niger', 'Georgia', 'Gabon',
       'Iraq', 'Venezuela', 'Guinea', 'Iran', 'Ghana', 'Turkey',
       'Burkina Faso', 'Cambodia', 'Benin', 'Comoros', 'Uganda',
       'Nigeria', 'Kenya', 'Tunisia', 'Pakistan',
       'Palestinian Territories', 'Mali', 'Namibia',
       'Eswatini, Kingdom of', 'Myanmar', 'Sri Lanka', 'Madagascar',
       'Egypt', 'Chad', 'Ethiopia', 'Yemen', 'Mauritania', 'Jordan',
       'Togo', 'India', 'Zambia', 'Malawi', 'Tanzania', 'Sierra Leone',
       'Lesotho', 'Botswana', 'Rwanda', 'Zimbabwe', 'Lebanon',
       'Afghanistan', 'xx'], dtype=object)

In [648]:
data2022.tail(10)

,rank,country,happiness,exp_GDP,exp_social,exp_healthy,exp_freedom,exp_generosity,exp_corruption,dystopia_residual
137,138,Malawi,"3,750","0,648","0,279","0,388","0,477","0,140","0,157","1,661"
138,139,Tanzania,"3,702","0,848","0,597","0,425","0,578","0,248","0,270","0,735"
139,140,Sierra Leone,"3,574","0,686","0,416","0,273","0,387","0,202","0,055","1,556"
140,141,Lesotho,"3,512","0,839","0,848","0,000","0,419","0,076","0,018","1,312"
141,142,Botswana,"3,471","1,503","0,815","0,280","0,571","0,012","0,102","0,187"
142,143,Rwanda,"3,268","0,785","0,133","0,462","0,621","0,187","0,544","0,536"
143,144,Zimbabwe,"2,995","0,947","0,690","0,270","0,329","0,106","0,105","0,548"
144,145,Lebanon,"2,955","1,392","0,498","0,631","0,103","0,082","0,034","0,216"
145,146,Afghanistan,"2,404","0,758","0,000","0,289","0,000","0,089","0,005","1,263"
146,147,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [650]:
data2022 = data2022.drop(146)

In [652]:
data2022.tail(10)

,rank,country,happiness,exp_GDP,exp_social,exp_healthy,exp_freedom,exp_generosity,exp_corruption,dystopia_residual
136,137,Zambia,"3,760","0,930","0,577","0,306","0,525","0,203","0,083","1,135"
137,138,Malawi,"3,750","0,648","0,279","0,388","0,477","0,140","0,157","1,661"
138,139,Tanzania,"3,702","0,848","0,597","0,425","0,578","0,248","0,270","0,735"
139,140,Sierra Leone,"3,574","0,686","0,416","0,273","0,387","0,202","0,055","1,556"
140,141,Lesotho,"3,512","0,839","0,848","0,000","0,419","0,076","0,018","1,312"
141,142,Botswana,"3,471","1,503","0,815","0,280","0,571","0,012","0,102","0,187"
142,143,Rwanda,"3,268","0,785","0,133","0,462","0,621","0,187","0,544","0,536"
143,144,Zimbabwe,"2,995","0,947","0,690","0,270","0,329","0,106","0,105","0,548"
144,145,Lebanon,"2,955","1,392","0,498","0,631","0,103","0,082","0,034","0,216"
145,146,Afghanistan,"2,404","0,758","0,000","0,289","0,000","0,089","0,005","1,263"

In [654]:
data2021.head(10)

,rank,country,happiness,exp_GDP,exp_social,exp_healthy,exp_freedom,exp_generosity,exp_corruption,dystopia_residual
0,Western Europe,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Western Europe,Denmark,7.620,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Western Europe,Switzerland,7.571,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Western Europe,Iceland,7.554,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Western Europe,Netherlands,7.464,1.501,1.079,0.753,0.647,0.302,0.384,2.798
5,Western Europe,Norway,7.392,1.543,1.108,0.782,0.703,0.249,0.427,2.580
6,Western Europe,Sweden,7.363,1.478,1.062,0.763,0.685,0.244,0.448,2.683
7,Western Europe,Luxembourg,7.324,1.751,1.003,0.760,0.639,0.166,0.353,2.653
8,North America and ANZ,New Zealand,7.277,1.400,1.094,0.785,0.665,0.276,0.445,2.612
9,Western Europe,Austria,7.268,1.492,1.062,0.782,0.640,0.215,0.292,2.784

In [656]:
data2021.columns

Index(['rank', 'country', 'happiness', 'exp_GDP', 'exp_social', 'exp_healthy',
       'exp_freedom', 'exp_generosity', 'exp_corruption', 'dystopia_residual'],
      dtype='object')

In [658]:
data2021.tail(5)

,rank,country,happiness,exp_GDP,exp_social,exp_healthy,exp_freedom,exp_generosity,exp_corruption,dystopia_residual
144,Sub-Saharan Africa,Lesotho,3.512,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Sub-Saharan Africa,Botswana,3.467,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Sub-Saharan Africa,Rwanda,3.415,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Sub-Saharan Africa,Zimbabwe,3.145,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,South Asia,Afghanistan,2.523,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [660]:
data2021['rank'] = range(1, 1 + len(data2021))

In [662]:
data2021.columns

Index(['rank', 'country', 'happiness', 'exp_GDP', 'exp_social', 'exp_healthy',
       'exp_freedom', 'exp_generosity', 'exp_corruption', 'dystopia_residual'],
      dtype='object')

In [668]:
data2021.columns=['rank', 'country', 'happiness', 'GDP', 'social_support', 'healthy',
       'freedom', 'generosity', 'corruption', 'dystopia']
data2021.columns

Index(['rank', 'country', 'happiness', 'GDP', 'social_support', 'healthy',
       'freedom', 'generosity', 'corruption', 'dystopia'],
      dtype='object')

In [670]:
data2022.columns

Index(['rank', 'country', 'happiness', 'exp_GDP', 'exp_social', 'exp_healthy',
       'exp_freedom', 'exp_generosity', 'exp_corruption', 'dystopia_residual'],
      dtype='object')

In [672]:
data2022.columns=['rank', 'country', 'happiness', 'GDP', 'social_support', 'healthy',
       'freedom', 'generosity', 'corruption', 'dystopia']
data2022.columns

Index(['rank', 'country', 'happiness', 'GDP', 'social_support', 'healthy',
       'freedom', 'generosity', 'corruption', 'dystopia'],
      dtype='object')

In [675]:
data2022.describe(include="object")

,country,happiness,GDP,social_support,healthy,freedom,generosity,corruption,dystopia
count,146,146,146,146,146,146,146,146,146
unique,146,141,141,133,134,128,116,116,138
top,Finland,"4,516","1,815","0,865","0,803","0,448","0,089","0,077","1,895"
freq,1,2,3,3,2,3,4,4,2

In [715]:
year_value = 2021

# Create a new column with the year 2021
data2021['year'] = year_value
data2021.columns

Index(['rank', 'country', 'happiness', 'GDP', 'social_support', 'healthy',
       'freedom', 'generosity', 'corruption', 'dystopia', 'year'],
      dtype='object')

In [717]:
data2021.tail(5)

,rank,country,happiness,GDP,social_support,healthy,freedom,generosity,corruption,dystopia,year
144,145,Lesotho,3.512,0.451,0.731,0.007,0.405,0.103,0.015,1.800,2021
145,146,Botswana,3.467,1.099,0.724,0.340,0.539,0.027,0.088,0.648,2021
146,147,Rwanda,3.415,0.364,0.202,0.407,0.627,0.227,0.493,1.095,2021
147,148,Zimbabwe,3.145,0.457,0.649,0.243,0.359,0.157,0.075,1.205,2021
148,149,Afghanistan,2.523,0.370,0.000,0.126,0.000,0.122,0.010,1.895,2021

In [719]:
year2_value = 2022

# Create a new column with the year 2021
data2022['year'] = year2_value
data2022.columns

Index(['rank', 'country', 'happiness', 'GDP', 'social_support', 'healthy',
       'freedom', 'generosity', 'corruption', 'dystopia', 'year'],
      dtype='object')

In [721]:
data2022.tail(5)

,rank,country,happiness,GDP,social_support,healthy,freedom,generosity,corruption,dystopia,year
141,142,Botswana,"3,471","1,503","0,815","0,280","0,571","0,012","0,102","0,187",2022
142,143,Rwanda,"3,268","0,785","0,133","0,462","0,621","0,187","0,544","0,536",2022
143,144,Zimbabwe,"2,995","0,947","0,690","0,270","0,329","0,106","0,105","0,548",2022
144,145,Lebanon,"2,955","1,392","0,498","0,631","0,103","0,082","0,034","0,216",2022
145,146,Afghanistan,"2,404","0,758","0,000","0,289","0,000","0,089","0,005","1,263",2022